.postHead{
    box-sizing: border-box!important;
    display: flex!important;
    width: 100%!important;
}
.postHead-dark{
    box-sizing: border-box!important;
    display: flex!important;
    width: 100%!important;
    color: var(--lightgrey);
}
.content{
    box-sizing: border-box!important;
    margin-top: -1px!important;
    overflow-wrap: break-word!important;
    min-width: 0px!important;
    flex: auto!important;
}
.content-up{
    gap: 2rem!important;
    display: flex!important;
    margin: 2px 0px -6px -4px!important;
    justify-content: space-between!important;
}
.content-up>h5:hover{
    text-decoration: underline!important;
}
.content-up > span{
    font-size: 12px!important;
    color: #3a72ff!important;
    font-weight: bold!important;
}
.content-up > span:hover{
    text-decoration: underline!important;
    cursor: pointer!important;
}
.content-down > span{
    font-size: 12px!important;
    color: var(--grey)!important;
    cursor: pointer!important;
}
.content-down > span:hover{
    text-decoration: underline!important;
}
.content-down > span > svg{
    height: 12px!important;
    width: 12px!important;
}
.content-down{
    margin: 2px 0px -5px 18px!important;
}
.text{
    gap: 2rem!important;
    display: flex!important;
    margin-left: 20px!important;
}
.content-remove{
    cursor: pointer!important;
}
/* UPDATED */
.content-down{
    display: flex!important;
}
.light-h5{
    color: var(--darkMode);
    font-weight: bold;
}
.dark-h5{
    color: var(--lightgrey);
    font-weight: bold;
}