.mid{
    border: none;
}
.question{
    margin-top: 5px;
}
.question:hover{
    text-decoration: underline;
    cursor: pointer;
}
.body{
    color: var(--darkGray);
    margin-top: -9px;
}
.img{
    margin-top: -4px;
}
.info{
    margin-top: 10px;
    display: flex;
    display: flex;
    gap: 1rem;
    margin-left: 4px;
}
.info>div>span{
    color: var(--darkGray);
    font-size: 14px;
}