.mid{
    border: none!important;
}
.question{
    margin-top: 5px!important;
}
.question-dark{
    margin-top: 5px!important;
    background-color: var(--darkComp);
}
.question:hover{
    text-decoration: underline!important;
    cursor: pointer!important;
}
.body{
    color: var(--darkGray)!important;
    margin-top: -9px!important;
}
.img>img{
    margin-top: -4px!important;
    width: 100%;
}
.info{
    margin-top: 10px!important;
    display: flex!important;
    display: flex!important;
    gap: 1rem!important;
    margin-left: 4px!important;
}
.info>div>span{
    color: var(--darkGray)!important;
    font-size: 14px!important;
}
.mid>h4{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.body>span>div{
    margin-top: 10px;
}