.answerParent {
  width: "100%";
  min-width: fit-content;
}
.answerParent__contents {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(190, 42, 42, 0.05);
  min-width: fit-content;
  width: 100%;
}
.answerParent__content {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding: 0px 10px;
}
