* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(241 242 242);
}
.active {
  /* color: red; */
  /* background-color: brown; */
  border-bottom: 3px solid rgb(185, 43, 39);
  /* border-bottom-left-radius: 5px; */
}
