:root{
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius:8px;
  --speed: 500ms;
  --darkMode: rgb(13 10 10);
  --darkComp: #262626;
  --pathFill:#c7b3b3;
}

*{
  padding: 0;
  margin: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @media only screen and (max-width: 768px){
  body{
    background-color: var(--darkMode);
  }
}
@media only screen and (max-width: 400px){
  body{
    background-color: var(--darkMode);
  }
} */