.add{
    margin-left: 35px;
}
.add-box{
    margin-bottom: 15px;
}
.add-text{
    text-align: center;
}
.add-text>p{
    color: var(--darkGray);  
}
@media only screen and (max-width: 768px){
    .add{
        display: none;
    }
}