.right {
  padding: 10px;
  position: sticky;
  top: 0px;
}
.right h3 {
  padding: 10px 0px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.noTopicMessage {
  text-align: center;
  background-color: white;
  padding: 30px 10px;
}

.noTopicMessage p:nth-child(2) {
  color: rgb(94, 90, 90);
  margin: 10px 0px;
  font-weight: bold;
  font-size: 18px;
}

.noTopicMessage p:nth-child(3) {
  color: grey;
  font-size: 15px;
  margin: 10px 0px;
}

.noTopicMessage img {
  width: 50px;
  margin: auto;
}

.noTopicMessage button {
  margin: 10px 0px;
  padding: 10px 15px;
  border: 2px solid rgb(27, 167, 222);
  border-radius: 18px;
  color: rgb(27, 167, 222);
  background-color: white;
}

.noTopicMessage button:hover {
  cursor: pointer;
  background-color: rgb(210, 230, 237);
}
